.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}
.card:hover{
    transform: translateY(10px);
}
.card-img{
    height: 55px;
    width: 55px;
    transition: .4s;
}
.card-img:hover{
    transform: scale(1.3);
}
